td.face {
	width: 50px;
	vertical-align: top;
}

span.date { font-size: smaller; }

/* SECTION: Meta */

.meta .face { width: 50px; }
.meta .who { width: 150px; }
.meta .what { width: auto; }

.meta .name { display: block; }

.meta .subject { display: block; }
.meta .snippet { font-size: smaller; }

/* SECTION: Thread */

.thread > td { padding: 0 50px; }

/* SECTION: Message */

.message .from {
	font-weight: bold;
}
