body {
    color: #444;
    background-color: white;
    margin: 1em auto;
    width: 90%;
}

.bookmarklet {
    color: white;
    background: #444;

    padding: 0.5em;

    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;

    box-shadow: 0 0 0.5em #444;
    -moz-box-shadow: 0 0 0.5em #444;
    -webkit-box-shadow: 0 0 0.5em #444;
}
